body {
    background-color: #212529;
}
#poster{
    height: 100vh;
    position: relative;
    overflow: hidden;
}
#poster img.poster-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire container */
    object-position: center; /* Ensures the center of the image is always visible */
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(20, 0, 50, 0.4);
    height: 30%;
    width: 50%;
}

#header_logo{
    width: 3rem;
}

.carousel-caption h1 {
    font-size: 2.5rem; /* Default size */
}
.carousel-caption p {
    font-size: 1.5rem; /* Default size */
}

.responsive-br {
    display: none; /* Hide line break on larger screens */
}

@media (max-width: 991px) {
    #header_logo{
        width: 2rem;
    }
}

@media (max-width: 768px) {
    .carousel-caption{
        height: 40%;
    }
    .responsive-br {
        display: inline;
    }
}

@media (max-width: 630px) {
    .carousel-caption{
        width: 70%;
    }
 }

.rounded-circle {
    border-radius: 50%;
    width: 160px;
    height: 160px;
    object-fit: cover; /* Ensures the image covers the container while maintaining its aspect ratio */
    margin-bottom: 10px;
}

.img-hover {
    transition: transform 0.3s ease; /* Smooth transition */
}

.img-hover:hover {
    transform: scale(1.1); /* Scale the image to 120% of its original size */
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings*/
.featurette-heading {
  letter-spacing: -.05rem;
}


.featurette-heading {
    font-size: 50px;
}

@media (max-width: 992px) {
  .featurette-heading {
    font-size: 40px;
  }
}
@media (max-width: 576px) {
  .featurette-heading {
    font-size: 30px;
  }
  .featurette-divider {
  margin: 2rem; /* Space out the Bootstrap <hr> more */
}
}